<nav id="nav">
    <ul class="links">
        <li><a href="index.html"><span class="notranslate">Home</span></a></li>
        <li><a href="tecnologia.html">Tech & Gadgets</a></li>
        <li><a href="home.html">Home & Kitchen</a></li>
        <li><a href="carro.html">Car Accessories</a></li>
        <li><a href="skin.html"><span class="notranslate">Skincare</span></a></li>

        <div class="gtranslate_wrapper"></div>
        <script>window.gtranslateSettings = {"default_language":"en","native_language_names":true,"languages":["en","fr","it","pt","ro","es"],"wrapper_selector":".gtranslate_wrapper","switcher_horizontal_position":"right","switcher_vertical_position":"top","float_switcher_open_direction":"bottom"}</script>
        <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>

        <li><a href="https://x.com/mediaminpt?s=21" class="icon brands fa-twitter" target="_blank"><span
                    class="label">Twitter</span></a></li>
        <li><a href="https://www.instagram.com/mediaminpt?igsh=M3pqN3I5M2VnaDBt&utm_source=qr"
                class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        <li><a href="https://www.facebook.com/share/1CyFhdU566/?mibextid=wwXIfr" class="icon brands fa-facebook"
                target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.tiktok.com/@themediamin?is_from_webapp=1&sender_device=pc"
                class="icon brands fa-tiktok" target="_blank"><span class="label">TikTok</span></a></li>
    </ul>
</nav>